[Unit]
Description=Homegy OTA Service
After=rc-local.service

[Service]
User=root
WorkingDirectory=/home/szbaijie/hc_bin
ExecStart=/home/szbaijie/hc_bin/HG_OTA
Restart=always

[Install]
WantedBy=multi-user.target
